/android
/ios
/.vscode
/.gradle
/.yarn-cache
node_modules
yarn.js
~*
*.gql
package.json
/integration
storyLoader.js
/index.js
/src/store/mocks/data.js
/app/config/chosen.js
/app/config/credentials.js
.eslintrc.js
credentials.js
hacks/**/*
